* {
    box-sizing: border-box;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
li {
    display: inline-flex;
    margin: 30px;
  }
body {
    background-color: #4d4d4d;
    color: #68d4d4;
    margin:10%;
    line-height: 225%;
    font-family: Arial, Helvetica, sans-serif;
}
#logo {
    display: block;
    margin: 50px auto 50px auto;
    width: 80%;
}
footer {
    float: right;
}
#social_media_icons li{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 2px;
    height: 50px;
    width: 50px;
}
.social_media_image {
    display:block;
    height:40px;
    width:40px;
}
header {
    background-color: mintcream;
}
a {
    color:#68d4d4;
}
}
label {
    font-size: 24px;
    padding: 8px;
    margin-left: 0;
    display: inline-block;
}
input[type=text] {
    font-size: 16px;
    border-radius: 4px;
}
select {
    font-size: 16px;
    border-radius: 4px;
}
fieldset {
    font-size: 16px;
    display: grid;
    margin: 15px;
    justify-content: center;
    border: 0;
    box-sizing: border-box;
}
textarea {
    border-radius: 4px;
}
input[type=submit] {
    margin-top: 15px;
    width: 100px;
    margin-right: 0;
    margin-left: auto;
}
legend {
    color: #68d4d4;
}
#request, #biking{
    margin: 15px 0 15px 0;
    width: 100%;
    border: groove;
    border-color: #ffac75;
    color: #ffac75;
    display: flex;
    flex-direction: column;
}

input[type=radio] {
    margin: 0;
    margin-right: 10px;
}
input[type=checkbox] {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}
#mainform {
    display: flex;
    flex-direction: column;
}
#request span {
    position: relative;
    left: 10px;
}
#subpages li {
    font-size: 16px;
}
@media all and (max-width: 800px) {  
    #subpages {
        flex-wrap: wrap;
    }
    #subpages li{
        flex-basis: 25%;
    }
}