ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
li {
    display: inline;
    margin: 30px;
  }
body {
    background-color: #4d4d4d;
    color: #ffac75;
    margin:10%;
    line-height: 225%;
    font-family: Arial, Helvetica, sans-serif;
}
#logo {
    display: block;
    margin: 50px auto 50px auto;
    width: 80%;
}
footer {
    float: right;
}
#social_media_icons li{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    height: 50px;
    width: 50px;
}
.social_media_image {
    display:block;
    height:50px;
    width:50px;
}
header {
    background-color: mintcream;
}
a {
    color:#68d4d4;
}
}
label {
    font-size: 24px;
    padding: 8px;
    margin-left: 0;
}
input[type=text] {
    font-size: 16px;
    border-radius: 4px;
}
select {
    font-size: 16px;
    border-radius: 4px;
}
fieldset {
    font-size: 16px;
    display: grid;
    margin: 15px;
    justify-content: center;
    border: 0;
}
textarea {
    border-radius: 4px;
}
input[type=submit] {
    margin-top: 15px;
}
legend {
    color: #68d4d4;
}
#request, #biking{
    margin: 15px 0 15px 0;
    width: 600px;
    border: double;
}
