ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
li {
    display: inline;
    margin: 30px;
  }
body {
    background-color: #4d4d4d;
    color: #ffac75;
    margin:10%;
    line-height: 225%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#logo {
    display: block;
    margin: 50px auto 50px auto;
    width: 80%;
}
footer {
    float: right;
}
#social_media_icons li{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    height: 50px;
    width: 50px;
}
#bike_picture {
    float: right;
    max-width: 400px;
    width: 40%;
    padding: 30px;
}

.social_media_image{
    display:block;
    height:50px;
    width:50px;
}
header {
    background-color: mintcream;
}
a {
    color:#68d4d4;
    font-size: 14px;
}
#subpages a {
    font-size: 16px;
    
}
@media all and (max-width: 800px) {  
    #subpages {
        flex-wrap: wrap;
    }
    #subpages li{
        flex-basis: 25%;
    }
}
