ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
li {
    display: inline;
    margin: 30px;
  }
body {
    background-color: dimgray;
    color: #ffecdb;
    margin:10%;
    line-height: 225%;
}
#logo {
    display: block;
    margin: 100px auto 100px auto;
    width: 80%;
}
footer {
    float: right;
}
#social_media_icons li{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    height: 50px;
    width: 50px;
}
h2 img {
    float: right;
    max-width: 400px;
    width: 30%;
    padding: 50px;
}

.social_media_image{
    display:block;
    height:50px;
    width:50px;
}
header {
    background-color: white;
}
