ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
li {
    display: inline;
    margin: 30px;
  }
body {
    background-color: #f58742;
    margin:10%;
}
#logo {
    display: block;
    margin: 100px auto 100px auto;
    width: 80%;
}
footer {
    float: right;
}
#social_media_icons li{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    height: 50px;
    width: 50px;
}
h2 img {
    float: right;
    max-width: 386.4px;
    max-height: 310.5px;
    width: auto;
    height: auto;
    padding: 50px;
}

.social_media_image{
    display:block;
    height:50px;
    width:50px;
}
